.nav-img{
    display: flex;
    margin-top: 1rem;
}
.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar{
    border-bottom: 1px;
}
.firsttxt{
    padding-left: 4rem;
    padding-top: 3rem;
}
.card-h{
    margin-top: 6rem;
}
.Card{
    
    margin: 7rem 8rem ;
}
.blank{
    background-color: whitesmoke;
    height: 23rem;
    width: 65rem;
}
#fifth-card{
    margin-top: 17rem;
}
footer{
    color: white;
    height: 20rem;
}